/* style.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #282434; /* Roxo escuro */
    color: #fff;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .movie-item   
   {
    background-color:   
   #382E48; /* Roxo mais claro */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .movie-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .movie-item h3 {
    padding: 10px;
    margin: 0;
    color: #E1BEE7; /* Roxa claro */
  }
  
  .movie-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }